<div class="main">
    <div *ngIf="loginError" class="alert alert-danger" role="alert">
        check your email or password
    </div>

    <div *ngIf="isMessage" class="alert alert-success" role="alert">
        {{message}}
    </div>

    <div class="spinner-border" *ngIf="isLoading" style="text-align: center; margin :auto ;position: relative; left :50%" role="status">
        <span class="sr-only">Loading...</span>
    </div>

    <mat-card class="w-50 mx-auto mat-elevation-z2" style="position: relative;top : 50px">
        <mat-card-title class="mb-3" style="text-align: center;">{{isLoginForm ? 'Login' : 'Signup' }}</mat-card-title>
        <form #authForm='ngForm' (ngSubmit)="submitForm(authForm)">
            <div class="example-container" *ngIf="!isLoginForm">
                <mat-form-field>
                    <mat-label>Company Name</mat-label>
                    <input matInput placeholder="webosmotic" [(ngModel)]="this.companyName" #name="ngModel" required name="companyName" />
                </mat-form-field>
            </div>

            <div class="example-container">
                <mat-form-field>
                    <mat-label>Company email</mat-label>
                    <input matInput placeholder="pat@example.com" [(ngModel)]="this.formEmail" #email="ngModel" required name="email" />
                </mat-form-field>
            </div>

            <div class="example-container">
                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input matInput type="password" minlength='5' required #password="ngModel" [(ngModel)]="this.formPassword" name="password" />
                </mat-form-field>
                <mat-error *ngIf="password.touched && password.invalid">Password shold be minimum 5 char long</mat-error>
            </div>

            <div class="example-container" *ngIf="!isLoginForm">
                <mat-form-field>
                    <mat-label>Confirm Password</mat-label>
                    <input matInput type="password" required #confirmPassword="ngModel" [(ngModel)]="this.formConfirmPassword" name="confirmPassword" />
                </mat-form-field>
                <mat-error *ngIf="confirmPassword.touched && password.value!=confirmPassword.value">password shold match</mat-error>
            </div>

            <mat-error *ngIf="!isLoginForm && nameAlreadyTakenError" style="text-align: center;">Name or email is already taken </mat-error>
            <div class="w-100 bg-dark mt-3">
                <button mat-flat-button [disabled]="isLoading" type="submit" color="primary" align='center' class="w-100 mx-auto">Submit</button>
            </div>
        </form>

        <mat-card-footer>
            <button mat-button color="primary" (click)="isLoginForm = true ;authForm.reset()">Login</button> /
            <button mat-button color="primary" (click)="this.isLoginForm = false ;authForm.reset()">Signup</button>
        </mat-card-footer>
    </mat-card>

</div>