.example-container {
    display: flex;
    flex-direction: column;
}

.example-container>* {
    width: 75%;
    margin: auto;
}

.example-container form {
    margin-bottom: 20px;
}

.example-container form>* {
    margin: 5px 0;
}

.example-container .mat-radio-button {
    margin: 0 5px;
}

button {
    margin: 0;
    padding: 0;
}

mat-card-footer {
    align-content: center;
    text-align: center;
    margin-top: 20px;
}

.main {
    // background: rgb(238, 174, 202);
    // background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    height: 100vh;
    width: 100%;
}