<div>
    <form>
        <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput type="text" required (keydown)="updateCompanyData($event)" #empName="ngModel" [(ngModel)]="this.companyDetails.name" name="name" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput type="text" (keydown)="updateCompanyData($event)" required #empEmail="ngModel" [(ngModel)]="this.companyDetails.email" name="email" />
        </mat-form-field>


        <input type="file" accept="image/*" #logo hidden (change)="logoChange($event)">

        <img src="{{avtarSource}}" (click)="logo.click()" height="60px" width="60px" style="float: right;">
    </form>


    <mat-dialog-actions>
        <button mat-button color="warn" (click)="logout()">Logout</button>
    </mat-dialog-actions>
</div>