.example-spacer {
    flex: 1 1 auto;
}

.example-container>mat-form-field {
    margin-left: 9%;
}

.example-container {
    margin-left: 8%;
}

// mat-form-field:first-child {
//     margin-left: 0;
// }
.example-chip-list {
    width: 100%;
}

input[type=file] {
    margin-left: 9%;
}


/* Structure */

table {
    width: 100%;
}