<mat-toolbar color="primary">
    <span>{{companyDetails.name}}</span>
    <span class="example-spacer"></span>
    <img class="mr-5" height="50px" *ngIf="!this.companyDetails.logo" (click)="openDialog()" width="50px" src="./../../../../assets/avtar.jpg">
    <img class="mr-5" height="50px" *ngIf="this.companyDetails.logo" (click)="openDialog()" width="50px" src="{{companyDetails.logo}}">
</mat-toolbar>

<div style="width: 90%; margin: auto;">
    <mat-card class="mt-2">
        <form #newEmployeeForm='ngForm' (ngSubmit)="addEmployee(newEmployeeForm)">
            <div class="example-container">
                <mat-form-field>
                    <mat-label>Name</mat-label>
                    <input matInput type="text" required #empName="ngModel" [(ngModel)]="this.newEmployee.name" name="name" />
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Contact No</mat-label>
                    <input matInput type="text" required #empContactNo="ngModel" [(ngModel)]="this.newEmployee.contactNo" name="contactNo" />
                </mat-form-field>
            </div>


            <div class="example-container mt-3">
                <!-- <span style="font-weight: bold; margin-left: 30px;">Adress :</span> -->
                <mat-form-field>
                    <mat-label>City</mat-label>
                    <input matInput type="text" required #empCity="ngModel" [(ngModel)]="this.newEmployee.address.city" name="city" />
                </mat-form-field>

                <mat-form-field>
                    <mat-label>State</mat-label>
                    <input matInput type="text" required #empState="ngModel" [(ngModel)]="this.newEmployee.address.state" name="state" />
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Countary</mat-label>
                    <input matInput type="text" required #empCountary="ngModel" [(ngModel)]="this.newEmployee.address.countary" name="countary" />
                </mat-form-field>
            </div>


            <div class="example-container mt-3">
                <mat-form-field style="width: 60%;">
                    <mat-chip-list #chipList>
                        <mat-chip *ngFor="let Hobbie of newEmployee.hobbies">
                            {{Hobbie}}
                        </mat-chip>
                        <input placeholder="Use enter or comma to enter multiple hobbies" name="hobbies" #hobbiInput [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="addHobbies($event)">
                    </mat-chip-list>
                </mat-form-field>
            </div>

            <div class="example-container mt-3">
                <mat-form-field>
                    <mat-label>Date of Birth</mat-label>
                    <input matInput [matDatepicker]="picker" name="dateOfBirth" [(ngModel)]="newEmployee.dateOfBirth">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Date of Join</mat-label>
                    <input matInput [matDatepicker]="picker1" name="dateOfJoin" [(ngModel)]="newEmployee.dateOfJoin">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
            </div>

            <div class="example-container mt-3">
                <input type="file" accept="image/*" (change)="readFile($event)">
                <img id="blah" [src]="imageSrc" *ngIf="imageSrc" width="60px" height="60px" alt="your image" />
            </div>

            <button disabled *ngIf="newEmployeeForm.invalid" mat-flat-button color="accent" class="mt-4" style="margin-left: 45%;" type="submit"> {{newEmployee._id ? 'Update': 'Add'}} </button>

            <button mat-flat-button color="accent" *ngIf="!newEmployeeForm.invalid" class="mt-4" style="margin-left: 45%;" type="submit"> {{newEmployee._id ? 'Update': 'Add'}} </button>
        </form>
    </mat-card>
    <!-- <button (click)="openDialog()">dialog</button> -->

    <table *ngIf="employeesData" mat-table [dataSource]="dataSource" class="mt-3">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="city">
            <th mat-header-cell *matHeaderCellDef> City </th>
            <td mat-cell *matCellDef="let element"> {{element.address.city}} </td>
        </ng-container>

        <ng-container matColumnDef="state">
            <th mat-header-cell *matHeaderCellDef> State </th>
            <td mat-cell *matCellDef="let element"> {{element.address.state}} </td>
        </ng-container>
        <ng-container matColumnDef="countary">
            <th mat-header-cell *matHeaderCellDef> Countary </th>
            <td mat-cell *matCellDef="let element"> {{element.address.countary}} </td>
        </ng-container>

        <ng-container matColumnDef="contactNo">
            <th mat-header-cell *matHeaderCellDef> contactno. </th>
            <td mat-cell *matCellDef="let element"> {{element.contactNo}} </td>
        </ng-container>

        <ng-container matColumnDef="hobbies">
            <th mat-header-cell *matHeaderCellDef> hobbies. </th>
            <td mat-cell *matCellDef="let element"> {{element.hobbies}} </td>
        </ng-container>

        <ng-container matColumnDef="dateOfBirth">
            <th mat-header-cell *matHeaderCellDef> dateOfBirth. </th>
            <td mat-cell *matCellDef="let element"> {{element.dateOfBirth |date}} </td>
        </ng-container>

        <ng-container matColumnDef="dateOfJoin">
            <th mat-header-cell *matHeaderCellDef> dateOfJoin. </th>
            <td mat-cell *matCellDef="let element"> {{element.dateOfJoin |date}} </td>
        </ng-container>

        <ng-container matColumnDef="profilePhoto">
            <th mat-header-cell *matHeaderCellDef> profilePhoto. </th>
            <td mat-cell *matCellDef="let element"> <img width="50px" height="50px" src="{{element.profilePhoto}}"> </td>
        </ng-container>

        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef> Edit. </th>
            <td mat-cell *matCellDef="let element"> <button mat-button (click)="updateButtonClick(element)" color="primary">Update</button></td>
        </ng-container>
        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> Delete. </th>
            <td mat-cell *matCellDef="let element"> <button mat-button (click)="deleteButtonClick(element)" color="warn">Delete</button></td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
</div>